@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

     *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'poppins', sans-serif;
     }
     body{
      background-color: white;
      /*background-image: url('/Images/compu2.jpg');*/
     }

      html{
      scroll-behavior: smooth;
    }
     
     .navbar{
      background-color: rgb(146, 36, 9);
      width: 100%;
      height: 75px;
      line-height: 75px;
      padding: 0px 40px;
     }

     .navbar .Bia{
      float: left;
      
    }
    
    .im1{
      width: 140px;
      margin-block-start: 1.3rem;
    }
    .in-logo{
      display: none;
    }
    .in-social{
      display: none;
    }
    .in-hr{
      display: none;
    }

    .navbar .navul{
      float: right;
    }

    .navbar .navul .navli{
      list-style: none;
      display: inline-block;
    }

    .navbar .navul .navli a{
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0px 20px;
      font-weight: bold;
      letter-spacing: 1.4px;
    }

/*customizing the submenu*/

     .submenu1a{
      display: none;
     }
    .navbar .navul .navli:hover .submenu1a{
      display: block;
      position: absolute;
      background-color: rgb(146, 36, 9);
      margin-top: -1px;
      width: 100%;
     }
     .navbar ul li:hover .submenu1a ul{
      display: block;
     }
     .navbar .navul .navli:hover .submenu1a ul li{
      width: fit-content;
      padding: 0px;
      background: transparent;
      text-align: left;
      list-style: none;
     }
  
     .navbar .navul .navli:hover .submenu1a ul li a:hover{
      color: black;
     }

     .navbar .menuiconfont{
      margin-right: 10px;
     }
    
     .fa-angle-right{
      padding-left: 30px;
     }
     .submenu1b{
      display: none;
     }
     .hover-me:hover .submenu1b{
      display: block;
      position: absolute;
      background-color: rgb(146, 36, 9);
      margin-top: -45px;
      margin-left: 110px;
     }
     .navbar .navul .navli:hover .submenu2b, .submenu1b ul li a{
      font-size: 1vw;
      font-style: italic;
     }
     .navbar .navul .navli:hover .submenu1b, .submenu2b ul li{
      border-bottom: none;
     }
     .navbar ul li:hover .submenu2b ul{
      width: fit-content;
     }


     .register{
      padding: 3px;
      margin-left: 10px;
      border: none;
      border-radius: 3px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: rgb(0, 0, 0);
      color: white;
     }
     .signin{
       color: rgb(0, 0, 0);
      border: none;
      padding: 3px;
      margin-left: 5px;
      border-radius: 3px;
      padding-left: 5px;
      padding-right: 5px;
      }
      .register:hover{
       background-color: rgb(250, 116, 6);
      }
      .signin:hover{
       background-color: rgb(250, 116, 6);
       color: white;
      }
    

    #check{
      display: none;
    }

    .checkbtn{
      font-size: 24px;
      color: white;
      float: right;
      display: none;
    }
    
    .navul .navli a:hover{
      color: rgb(250, 116, 6);
      
      
    }
    .navul .navli a.active{
      color: rgb(250, 116, 6);
      
    }


/*This is the logo container section*/

.logo-intro-top-div{
  width: 100%;
  padding: 4vw;
  background-color: aqua;
  text-align: center;
}
.logo-intro-top-div h1, span{
  font-size: 8vw;
  font-family: arial;
  width: 100%;
  padding-bottom: 15px;
}
.logo-intro-top-div h1 span{
  color: rgb(146, 36, 9);
}
.logo-intro-top-div .p1{
  font-size: 4.5vw;
  font-family: arial;
  width: 100%;
  padding-bottom: 15px;
}
.logo-intro-top-inner-div{
  width: 100%;
  text-align: center;
}
.logo-intro-top-inner-div p{
  font-size: 3vw;
  color: rgb(146, 36, 9);
  font-family: arial;
  padding-top: 10px;
  padding-bottom: 5px;
  animation-name: rating;
  animation-duration: 5s;
}

@keyframes rating {
  from {
    margin-left: 100%;
    width: 80%;
  }
  to {
    margin-left: 10%;
    width: 80%;
  }
}
.logo-rating{
  animation-name: star;
  animation-duration: 5s;
}

@keyframes star {
  from {
    margin-left: 0;
    width: 80%;
  }
  to {
    margin-left: 10%;
    width: 80%;
  }
}


.logo-intro-top-inner-div div{
  width: 100%;
  text-align: center;
  font-size: 4vw;
}

/*The container section*/

.logo-container{
  width: 100%;
  padding: 2vw;
  text-align: center;
  position: relative;
  overflow-x: scroll;
}
.logo-selection{
  display: inline-block;
  margin: 2vw;
  border: solid 2px rgb(240, 231, 231);
  width: 15%;
  position: relative;
}
.logo-container .logo-selection img{
  width: 100%;
  height: 100%;
}

.logo-container .logo-selection .btn1{
  padding-right: 0.4vw;
  padding-left: 0.5vw;
  font-size: 2vw;
  background-color: rgb(233, 230, 230);
  color: black;
  border: none;
  border-radius: 5px;
  position: absolute;
  display: none;
  top: 2px;
  right: 2px;
  cursor: pointer;
}
.logo-container .logo-selection .btn1:hover{
  background-color: rgb(94, 99, 97);
  color: rgb(199, 191, 191);
  transition: 0.3s ease;
}
.logo-container .logo-selection .btn1:active{
  color: white;
}
.logo-selection:hover{
  border: solid 2px rgb(201, 192, 192);
  transition: 0.4s ease;
  background-image: linear-gradient(black, white);
}
.logo-selection:hover img{
  opacity: 0.5;
  transition: 0.4s ease;
}
.logo-selection:hover .btn1{
  display: inline-block;
}


@media screen and (min-width: 500px) and (max-width: 800px){
  .logo-selection{
    display: inline-block;
    margin: 2vw;
    border: solid 2px rgb(240, 231, 231);
    width: 25%;
    position: relative;
  }
}
@media screen and (max-width: 499px){
  .logo-selection{
    display: inline-block;
    margin: 2vw;
    border: solid 2px rgb(240, 231, 231);
    width: 35%;
    position: relative;
  }
}
@media screen and (max-width: 770px){
  .logo-container .logo-selection .btn1{
    padding-right: 0.4vw;
    padding-left: 0.7vw;
    font-size: 3.5vw;
  }
}


/*The bottom intro section*/

.logo-intro-bottom-div{
  width: 100%;
  padding: 50px;
  text-align: center;
  background-color: aqua;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
.logo-intro-bottom-div h1{
  font-size: 25px;
}
.logo-intro-bottom-div p{
  font-size: 20px;
  margin-bottom: 20px;
}
.logo-intro-bottom-div button{
  width: 70vw;
  padding: 5px 5px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(146, 36, 9);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.logo-intro-bottom-div button:hover{
  background-color: black;
  transition: 0.5s;
}
.logo-intro-bottom-div button:active{
  letter-spacing: 1.5px;
  opacity: 0.8;
}

@media screen and (max-width: 380px){
  .logo-intro-bottom-div h1{
    font-size: 18px;
    padding: 5px 10px;
    border-bottom: groove;
    margin-bottom: 8px;
  }
  .logo-intro-bottom-div p{
    font-size: 18px;
    margin-bottom: 20px;
  }
}


/*The form section*/

.logo-form, .logo-form1, .logo-form2, .logo-form3, .logo-form4, 
.logo-form5, .logo-form6, .logo-form7, .logo-form8, .logo-form9, 
.logo-form10, .logo-form11, .logo-form12, .logo-form13, .logo-form14, 
.logo-form15, .logo-form16, .logo-form17, .logo-form18, .logo-form19, 
.logo-form20, .logo-form21, .logo-form22, .logo-form23, .logo-form24, 
.logo-form25, .logo-form26, .logo-form27, .logo-form28, .logo-form29, 
.logo-form30, .logo-form31, .logo-form32, .logo-form33, .logo-form34, 
.logo-form35, .logo-form36, .logo-form37, .logo-form38, .logo-form39, 
.logo-form40{
  width: 15.625rem;
  background-color: rgb(211, 209, 209);
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 50px grey;
  border-radius: 30px;
  position: absolute;
  display: none;
  margin-top: 3.25rem;
  z-index: 2;
}
.logo-form h2{
  padding-bottom: 15px;
}
.logo-form input, select{
  width: 90%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  margin: 10px;
  margin-top: 0;
}
.logo-form .opt-value:hover{
  background-color: rgb(146, 36, 9);
}
.logo-form .btn2{
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  border-radius: 10px;
  border: solid 1px black;
  left: 60px;
}
.logo-form .btn2:hover{
  background-color: black;
  color: white;
  transition: 0.4s;
}
.logo-form .btn2:active{
 letter-spacing: 1px;
 font-style: italic;
}

@media screen and (max-width: 900px){
  .logo-form, .logo-form1, .logo-form2, .logo-form3, .logo-form4, 
.logo-form5, .logo-form6, .logo-form7, .logo-form8, .logo-form9, 
.logo-form10, .logo-form11, .logo-form12, .logo-form13, .logo-form14, 
.logo-form15, .logo-form16, .logo-form17, .logo-form18, .logo-form19, 
.logo-form20, .logo-form21, .logo-form22, .logo-form23, .logo-form24, 
.logo-form25, .logo-form26, .logo-form27, .logo-form28, .logo-form29, 
.logo-form30, .logo-form31, .logo-form32, .logo-form33, .logo-form34, 
.logo-form35, .logo-form36, .logo-form37, .logo-form38, .logo-form39, 
.logo-form40{
  width: 12.625rem;
  background-color: rgb(211, 209, 209);
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 50px grey;
  border-radius: 30px;
  position: absolute;
  display: none;
  margin-top: 6.25rem;
  z-index: 2;
}
.logo-form h2{
  padding-bottom: 15px;
  font-size: 19px;
}
.logo-form input, select{
  width: 90%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
  margin-top: 0;
}
.logo-form .opt-value:hover{
  background-color: rgb(146, 36, 9);
}
.logo-form .btn2{
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: solid 1px black;
  left: 60px;
  
}
}






/*Let's build a calculator*/

.calculator-container{
  width: 100%;
  text-align: center;
  background-color: lightgreen;
  padding-bottom: 15px;
}
.calculator-container .solve-div{
  width: 100%;
  text-align: center;
  background-color: lightgreen;
}
.solve-div h1{
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
.solve-value{
  width: 100%;
  padding-bottom: 15px;
}
.solve-value p{
  width: 20%;
  padding: 0 15px;
  font-size: 25px;
  font-weight: bold;
  display: inline;
}
.solve-value input{
  width: 40%;
  padding: 0 15px;
  font-size: 25px;
  font-weight: bold;
  display: inline;
  border: none;
}
#solve1, #solve3{
  background-color: white;
  border-radius: 12px;
}
.calculator-container .icon-button-div{
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: blue;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.icon-button-div .special-icons{
  width: 100%;
}
.special-icons button{
  width: 50px;
  margin: 8px;
  font-size: 18px;
}


.calculator-container .math-icons{
  margin: 8px;
}
.calculator-container .math-icons button{
  width: 70px;
  margin: 5px;
  font-size: 30px;
  margin-top: 8px;
}

.calculator-container .result-div{
  width: 100%;
  text-align: center;
}
.result-div h1{
  font-size: 18px;
  font-weight: bold;
}

.result-div p{
  width: 10%;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  background: white;
  border-bottom: solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 10px;
  color: green;
}













    /*This is the footer section*/


.footer-container {
  display: flex;
  width: 100%;
  background-color: rgb(34, 34, 27);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

 .jobmktdiv, .coursesdiv, .marketingdiv {
  display: inline-block;
  width: 40%;
}
.marketingdiv{
  padding-right: 3em;
}

.aboutusdiv {
  padding-left: 3em;
  width: 53%;
  padding-inline-end: 4em;
}

.aboutusp{
 width: 100%;
 display: inline-block;
 margin-right: 0;
}

.footlist {
 list-style: none;
 
}

.joblinks, .courseslinks, .marketinglinks, .aboutusp{
 color: rgb(148, 148, 148);
 font-size: 16px;
 font-family: arial;
}

.aboutusp{
 line-height: 25px;
}

.joblinks, .courseslinks, .marketinglinks {
  text-decoration: none;
  transition: 0.5s;
  line-height: 33px;
}

.aboutush1, .jobmkth1,.coursesh1, .marketingh1 {
  padding-block-end: 1rem;
  color: white;
  font-size: 2.5vw;
}

.joblinks:hover, .courseslinks:hover, .marketinglinks:hover{
 color: rgb(172, 107, 10);
 padding-left: 15px;
 transition: 0.2s;
}


/*social media footer*/


.contactsdiv {
  width: 100%;
  background-color: rgb(34, 34, 27);
  text-align: center;
}

.contacts-list {
  color: white;
  display: inline-block;
  width: 100%;
  font-family: arial;
  line-height: 60px;
  margin-top: 0px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  font-size: 38px;
  
}

.contactsh1 {
  color: white;
  display: block;
  font-size: 1.5vw;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-family: arial;
  text-align: center;
  letter-spacing: 1px;
}

.facebooklinks {
  text-decoration: none;
  color: white;
  padding-right: 60px;
  margin-left: auto;
  
}
.facebooklinks:hover {
 color: rgb(26, 82, 235);
}

.instalinks {
  text-decoration: none;
  color: white;
  padding-right: 60px;
}
.instalinks:hover {
  color: rgb(173, 10, 173);
}

.twitterlinks {
  text-decoration: none;
  color: white;
  padding-right: 60px;
}
.twitterlinks:hover {
  color: rgb(32, 147, 255);
}

.youtubelinks {
  text-decoration: none;
  color: white;
  padding-right: 60px;
}
.youtubelinks:hover {
  color: rgb(255, 0, 0);
}

.whatslinks {
  text-decoration: none;
  color: white;
  padding-right: 60px;
}
.whatslinks:hover {
  color: rgb(18, 155, 18);
}

.emaillinks {
  text-decoration: none;
  color: white;
  padding-right: 60px;
}
.emaillinks:hover {
  color: rgb(228, 61, 10);
}

.linkelinks {
  text-decoration: none;
  color: white;
  padding-right: 60px;
}
.linkelinks:hover {
  color: rgb(23, 23, 231);
}

.tumblinks {
  text-decoration: none;
  color: white;
  padding-right: 60px;
}
.tumblinks:hover {
  color: purple;
}

.telelinks {
  text-decoration: none;
  color: white;
  padding-right: 60px;
}
.telelinks:hover {
  color: rgb(26, 158, 235); 
}

.pintlinks {
  text-decoration: none;
  color: white;
  margin-right: auto;
}
.pintlinks:hover {
  color: rgb(255, 0, 0);
 
}



hr {
  margin-bottom: 0px;
  margin-block-start: 0;
  
}


/*footer 2*/

.footer-div {
  background-color:rgb(58, 15, 37);
  margin-top: 0px;
  margin-bottom: -1%;
  width: 100%;
}

.footer-logo {
  width: 200px;
  padding: 10px;
  padding-top: 15px;
}

.footer-alrights {
  display: inline-block;
  margin-top: 25px;
  vertical-align: top;
  font-size: 18px;
  color: rgb(126, 125, 123);
}

.ulfooter {
  display: inline-block;
  margin-top: 16px;
  padding-top: 10px;
  padding-left: 30px;
  vertical-align: top;
}

.footer-links {
  text-decoration: none;
  color: rgb(126, 125, 123);
  padding: 10px;
  display: inline-block;
  margin-top: 0;
  margin-inline-start: 10px;
  padding-top: 0;
  font-size: 14px;
}

.footer-links:hover{
  color: rgb(199, 123, 23);
  transition: 0.1s;
}

.contacts-list:hover{
  box-shadow: 5px 5px 10px rgb(199, 123, 23);
  transition: 0.1s;
}
.footer-links:hover {
  color: rgb(199, 123, 23);
  transition: 0.1s;
}

/*Creating the top arrow*/

#top-arrow{
  font-size: 20px;
  padding: 8px 5px;
}
#top-arrow:hover{
  color: red;
}

.top-arrow-div{
 position: absolute;
 right: 20px;
 border: solid 1px;
 border-radius: 5px;
}
.top-arrow-div:hover{
  border: solid 1px red;
}
.top-arrow-div > a{
  text-decoration: none;
}


/*responsive for navition bar*/

@media screen and (max-width: 789px){
  .navbar{
  padding: 0px;
  position: fixed;
  top: 0;
  z-index: 5;
}
 .logo-intro-top-div{
  padding-top: 105px;
}
.Bia{
  padding-inline-start: 40px;
}
.navul {
  background-color: rgb(146, 36, 9);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: -100%;
  transition: 0.6s ease;
  overflow: auto;
  z-index: 5;
}
.navbar .navul .navli{
  display: block;
  padding-top: 10px;
  text-align: center;
  font-style: italic;
}
.navli {
 line-height: 50px; 
}
.checkbtn{
  display: block;
  padding-inline-end: 1.5em;
}
#check:checked ~ .navul{
  left: 0;
}
.quote{
  display: none;
 }
.in-logo{
  width: 100%;
  display: block;
  text-align: center;
  line-height: 15px;
 }
.im2{
 width: 100px;
 margin-bottom: 4vw;
}
.in-social{
  display: inline-block;
  padding-left: auto;
  padding-right: auto;
  font-size: 8vw;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding-bottom: 5px;
}  
.in-p{
  font-size: 3vw;
  width: 100%;
  display: block;
  cursor: initial;
  padding-bottom: 3vw;
}

form.in-search input[type=text]{
  padding: 1.2vw;
  font-size: 3vw;
  border: 1px solid rgb(250, 116, 6);
  
  width: 60%;
  background: #f1f1f1;
  
}
form.in-search .in-search-btn {
  width: 10%;
  padding: 1.2vw;
  border: 1px solid rgb(250, 116, 6);
  font-size: 3vw;
  border-left: none;
  background: rgb(250, 116, 6);
  color: white;
  cursor: pointer;
  
}

.in-hr{
  display: block;
  margin-top: 60px;
  margin-bottom: 2vw;
  width: 100%;
}

.navbar .navul .navli:hover .submenu1a{
  display: block;
  position: relative;
  background-color: rgb(146, 36, 9);
  margin-top: -1px;
  width: 50%;
  
 }
 .navbar ul li:hover .submenu1a ul{
  display: block;
 }
 .navbar ul li:hover .submenu1a ul li a{
  font-size: 13px;
 }


 .navbar .navul .navli:hover .submenu1a ul li{
  width: fit-content;
  padding: 0px;
  background: transparent;
  text-align: left;
  list-style: none;
 }
 .hover-me:hover .submenu1b{
  display: block;
  position: relative;
  background-color: rgb(146, 36, 9);
  margin-top: -45px;
  margin-left: 110px;
 }
 .navbar .navul .navli:hover .submenu2b, .submenu1b ul li a{
  font-size: 13px;
  font-style: italic;
 }
 .navbar .navul .navli:hover .submenu1a ul li a{
  color: rgb(250, 116, 6);
 }
 
 .hover-me:hover .submenu1b, .submenu2b ul {
  width: 100%;
 }
.fa-angle-right{
  padding-left: 6px;
 }

}


@media screen and (min-width: 790px) and (max-width: 1024px){
  .navbar{
  padding: 0px 40px;
}
.navbar .navul .navli a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 10px;
  font-weight: bold;
  letter-spacing: 1.4px;
  font-size: 14px;
}
.navul .navli a:hover{
  color: rgb(250, 116, 6);
}
.navul .navli a.active{
  color: rgb(250, 116, 6);
}
.im1{
  width: 120px;
  margin-block-start: 1.5rem;
}
.quote{
  display: inline-block;
  height: 35px;
  border-radius: 25px;
  border: none;
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  
 }
}

@media screen and (min-width: 790px) and (max-width: 1139px){
.navbar .menuiconfont{
  display: none;
 }
 .navbar .navul .navli:hover .submenu1a{
  display: block;
  position: absolute;
  background-color: rgb(146, 36, 9);
  margin-top: -3px;
  width: 100%;
 }
}

/*responsive for footer*/

@media screen and (min-width: 769px) and (max-width: 1024px) {
.footer-container {
  display: block;
  width: 100%;
  background-color: rgb(34, 34, 27);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
 
}
.aboutusdiv {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}
.jobmktdiv{
  display: inline-block;
  width: 40%;
  
}
.coursesdiv, .marketingdiv{
  display: inline-block;
  width: 40%;
  padding-block-start: 1.5em;
}
.marketingdiv{
  padding-right: 0;
}

.contactsdiv {
  width: 100%;
  background-color: rgb(34, 34, 27);
  text-align: center;
}

.contacts-list {
  color: white;
  display: inline-block;
  width: 100%;
  font-family: arial;
  line-height: 60px;
  margin-top: 0px;
  text-align: center;
  padding:20px;
  cursor: pointer;
  font-size: 24px;
  
}

.contactsh1 {
  color: white;
  display: block;
  font-size: 1.5vw;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-family: arial;
  text-align: center;
  letter-spacing: 1px;
}
.facebooklinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
  margin-left: auto;
  
}
.facebooklinks:hover {
 color: rgb(26, 82, 235);
}

.instalinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.instalinks:hover {
  color: rgb(173, 10, 173);
}

.twitterlinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.twitterlinks:hover {
  color: rgb(32, 147, 255);
}

.youtubelinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.youtubelinks:hover {
  color: rgb(255, 0, 0);
}

.whatslinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.whatslinks:hover {
  color: rgb(18, 155, 18);
}

.emaillinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.emaillinks:hover {
  color: rgb(228, 61, 10);
}

.linkelinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.linkelinks:hover {
  color: rgb(23, 23, 231);
}

.tumblinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.tumblinks:hover {
  color: purple;
}

.telelinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.telelinks:hover {
  color: rgb(26, 158, 235); 
}

.pintlinks {
  text-decoration: none;
  color: white;
  margin-right: auto;
}
.pintlinks:hover {
  color: rgb(255, 0, 0);
}

.footer-div {
  background-color:rgb(58, 15, 37);
  margin-top: 0px;
  margin-bottom: -1%;
  width: 100%;
  text-align: center;
}

.footer-logo {
  width: 200px;
  padding: 10px;
  padding-top: 15px;
}

.footer-alrights {
  display: inline-block;
  margin-top: 25px;
  vertical-align: top;
  font-size: 18px;
}

.ulfooter {
  display: inline-block;
  margin-top: 0;
  padding-top: 2px;
  padding-left: 0;
  vertical-align: top;
  width: 100%;
}

.footer-links {
  text-decoration: none;
  color: rgb(126, 125, 123);
  padding: 7px;
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
}
}

@media screen and (min-width: 1025px) and (max-width: 1323px){
.footer-div {
  background-color:rgb(58, 15, 37);
  margin-top: 0px;
  margin-bottom: -1%;
  width: 100%;
  text-align: center;
}

.footer-logo {
  width: 200px;
  padding: 10px;
  padding-top: 15px;
}

.footer-alrights {
  display: inline-block;
  margin-top: 25px;
  vertical-align: top;
  font-size: 18px;
}

.ulfooter {
  display: inline-block;
  margin-top: 0;
  padding-top: 2px;
  padding-left: 0;
  vertical-align: top;
  width: 100%;
}

.footer-links {
  text-decoration: none;
  color: rgb(126, 125, 123);
  padding: 7px;
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
}
}

@media screen and (min-width: 600px) and (max-width: 768px) {
.footer-container {
  display: block;
  width: 100%;
  background-color: rgb(34, 34, 27);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
 
}
.aboutusdiv {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}
.jobmktdiv{
  display: inline-block;
  width: 40%;
  
}
.coursesdiv, .marketingdiv{
  display: inline-block;
  width: 40%;
  padding-block-start: 1.5em;
}
.marketingdiv{
  padding-right: 0;
}

.contactsdiv {
  width: 100%;
  background-color: rgb(34, 34, 27);
  text-align: center;
}

.contacts-list {
  color: white;
  display: inline-block;
  width: 75%;
  font-family: arial;
  line-height: 60px;
  margin-top: 0px;
  text-align: center;
  padding:20px;
  cursor: pointer;
  font-size: 24px;
  
}

.contactsh1 {
  color: white;
  display: block;
  font-size: 1.5vw;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-family: arial;
  text-align: center;
  letter-spacing: 1px;
}
.facebooklinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
  margin-left: auto;
  
}
.facebooklinks:hover {
 color: rgb(26, 82, 235);
}

.instalinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.instalinks:hover {
  color: rgb(173, 10, 173);
}

.twitterlinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.twitterlinks:hover {
  color: rgb(32, 147, 255);
}

.youtubelinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.youtubelinks:hover {
  color: rgb(255, 0, 0);
}

.whatslinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.whatslinks:hover {
  color: rgb(18, 155, 18);
}

.emaillinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.emaillinks:hover {
  color: rgb(228, 61, 10);
}

.linkelinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.linkelinks:hover {
  color: rgb(23, 23, 231);
}

.tumblinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.tumblinks:hover {
  color: purple;
}

.telelinks {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.telelinks:hover {
  color: rgb(26, 158, 235); 
}

.pintlinks {
  text-decoration: none;
  color: white;
  margin-right: auto;
}
.pintlinks:hover {
  color: rgb(255, 0, 0);
}

.footer-div {
  background-color:rgb(58, 15, 37);
  margin-top: 0px;
  margin-bottom: -1%;
  width: 100%;
  text-align: center;
}

.footer-logo {
  width: 200px;
  padding: 10px;
  padding-top: 15px;
}

.footer-alrights {
  display: inline-block;
  margin-top: 25px;
  vertical-align: top;
  font-size: 18px;
}

.ulfooter {
  display: inline-block;
  margin-top: 0;
  padding-top: 2px;
  padding-left: 0;
  vertical-align: top;
  width: 70%;
}

.footer-links {
  text-decoration: none;
  color: rgb(126, 125, 123);
  padding: 7px;
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
}
}

@media screen and (max-width: 599px) {
.footer-container {
  display: block;
  width: 100%;
  background-color: rgb(34, 34, 27);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

 .jobmktdiv, .coursesdiv, .marketingdiv {
  display: inline-block;
  width: 100%;
}
.marketingdiv{
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-top: 30px;
}

.aboutusdiv {
  width: 100%;
  padding-bottom: 30px;
}
.coursesdiv {
  width: 100%;
  padding-top: 30px;
}

.aboutusp{
 width: 100%;
 display: inline-block;
 margin-right: 0;
}

.footlist {
 list-style: none;
 
}

.joblinks, .courseslinks, .marketinglinks, .aboutusp{
 color: rgb(148, 148, 148);
 font-size: 16px;
 font-family: arial;
}

.aboutusp{
 line-height: 25px;
}

.joblinks, .courseslinks, .marketinglinks {
  text-decoration: none;
  transition: 0.5s;
  line-height: 33px;
}

.aboutush1, .jobmkth1,.coursesh1, .marketingh1 {
  padding-block-end: 1rem;
  color: white;
  font-size: 20px;
}

.joblinks:hover, .courseslinks:hover, .marketinglinks:hover{
 color: rgb(172, 107, 10);
 padding-left: 15px;
 transition: 0.2s;
}

.contactsdiv {
  width: 100%;
  background-color: black;
  text-align: center;
  display: none;
}


.footer-div {
  background-color:rgb(58, 15, 37);
  margin-top: 0px;
  margin-bottom: -1%;
  width: 100%;
  text-align: center;
}

.footer-logo {
  width: 150px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 0;
}

.footer-alrights {
  display: inline-block;
  margin-top: 25px;
  vertical-align: top;
  font-size: 18px;
}

.ulfooter {
  display: inline-block;
  margin-top: 0;
  padding-top: 2px;
  padding-left: 0;
  vertical-align: top;
  width: 70%;
}

.footer-links {
  text-decoration: none;
  color: rgb(126, 125, 123);
  padding: 7px;
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
}
}
